<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
</head>
<body>
    <header>
        <div class="header__left-box">
            <a href="">
                <img src="">
            </a>
        </div>
        <div class="header__right-box">
            <a href="" class="header__link-user">
                <img src="" class="header__icon-user">
            </a>
            <span  class="header__name-user">

            </span>
        </div>
    </header>
    <h1>Категории вопросов</h1>
    <ul>
        <li>
            <a href="">
                Категория вопросов 1
            </a>
        </li>
        <li>
            <a href="">
                Дополнительная категория вопросов 2
            </a>
        </li>
        <li>
            <a href="">
                Еще категория вопросов 3
            </a>
        </li>
    </ul>
</body>
</html>